<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <h2 class="card-title heading">Sonu Sathyadas</h2>
                <table class="table table-borderless">
                    <tbody>
                        <tr>
                            <td colspan="2" class="image-container">
                                <img [src]="assets_prefix + '/assets/images/profile_image.jpg'" class="profile-images"
                                    alt="Profile Image" />
                            </td>
                        </tr>
                        <tr>
                            <th colspan="2" class="work-profile">
                                <div>
                                    Experience: 15+ Years.
                                </div>
                                <div>
                                    Practice Head (Open Source and .NET) @ Synergetics India Pvt Ltd
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <td class="col1">
                                Skills
                            </td>
                            <td>
                                AWS, Azure, Microservices, Angular, React and Redux, EmberJS, SolidJS, Docker,
                                Kubernetes,
                                Terraform, MongoDB, PostgreSQL, SQLServer, MySQL, RabbitMQ, NodeJS, ExpressJS, Python,
                                ASP.NET Core , ASP.NET, ES6, TypeScript, Dapr, gRPC,
                            </td>
                        </tr>
                        <tr>
                            <td>Certifications</td>
                            <td>
                                <ul class="cert-list">
                                    <li>Azure AI Engineer Associate (AI-102)</li>
                                    <li>Azure Developer Associate (AZ 204)</li>
                                    <li>Azure Solutions Architect (AZ 305)</li>
                                    <li>Azure Administrator Associate (AZ 104)</li>
                                    <li>Microsoft Certified Trainer (MCT)</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>Social Media</td>
                            <td>
                                <ul class="social-list">
                                    <li>LinkedIn : <a
                                            href="https://www.linkedin.com/in/sonusathyadas/">https://www.linkedin.com/in/sonusathyadas/</a>
                                    </li>
                                    <li>Facebook : <a
                                            href="https://www.facebook.com/sonusathyadas">https://www.facebook.com/sonusathyadas</a>
                                    </li>
                                    <li>Youtube : <a
                                            href="https://www.youtube.com/@bytestreamtech">https://www.youtube.com/@bytestreamtech</a>
                                    </li>
                                </ul>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>